body {
    font-size: 13px;
    font-family: monospace;
}

ul.items {
    border: 0.1rem solid #888;
    border-radius: 0 0.3rem 0.3rem 0.3rem;
    margin: 0;
    padding: 0.2rem;
    display: inline-block;
    background-color: #f8f8f8;
    list-style-type: none;
    min-height: 7rem;
    min-width: 13rem;
}

div.menu span.title {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-color: #ddd;
    color: #111;
    padding: 0 1rem;
    margin: 0;
    user-select: none;
}

div.menu span.add {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-color: #888;
    color: #eee;
    padding: 0 0.4rem;
    margin: 0;
    cursor: pointer;
}

li.item div.content {
    height: 4.6rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    overflow: hidden;
}

li.item div.content.editable {
    border: 1px dashed #333;
}

[contenteditable] {
    outline: 0 solid transparent;
}

div.info {
    font-size: 0.7rem;
    display: flex;
    flex-flow: row;
}

div.info div.orders {
    width: 100%;
}

div.info div.edit {
    border-radius: 0.3rem;
    background-color: #eee;
    padding: 0 0.5rem;
    cursor: pointer;
    user-select: none;
    opacity: 0.5;
    align-self: flex-end;
}

div.info div.edit:hover {
    opacity: 1;
}

.items li {
    width: 12rem;
    height: 6rem;
    margin: 0.2rem;
    padding: 0.2rem;
    float: left;
    border-radius: 0.2rem;

    display: flex;
    flex-flow: column;
    /*user-select: none;*/
}

li.item {
    border: 1px solid #444;
    background-color: lightsteelblue;
}

li.placeholder {
    border: 1px dashed darkslategray;
    background-color: lightyellow;
}

li.moved {
    border: 1px dashed darkslategray;
}
