html, body {
    font-size: 13px;
    margin: 0.2rem;
    font-family: monospace;
    white-space: nowrap;
}

.w50 {
    width: 50%;
}

.fl {
    float: left;
}

.pr05 {
    padding-right: 0.5rem;
}

.p0 {
    padding:0
}

.m0 {
    margin:0
}
