body {
    font-size: 13px;
    font-family: monospace;
    margin: 0.1rem;
}

* {
    box-sizing: border-box;
}

ul.items {
    border: 0.1rem solid #888;
    border-radius: 0 0.3rem 0.3rem 0.3rem;
    margin: 0;
    padding: 0.2rem;
    background-color: #f8f8f8;
    list-style-type: none;

    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

div.menu span.title {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-color: #ddd;
    color: #111;
    padding: 0 1rem;
    margin: 0;
    user-select: none;
}

div.menu span.add {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-color: #888;
    color: #eee;
    padding: 0 0.4rem;
    margin: 0;
    cursor: pointer;
}

li.item div.content {
    height: 100%;
    padding: 0.2rem;
    border-radius: 0.3rem;
    overflow: hidden;
}

li.item div.content[contenteditable=true] {
    /* border + padding should equal padding in contenteditable=false */
    border: 0.1rem dashed #333;
    padding: 0.1rem;
}

[contenteditable] {
    outline: 0 solid transparent;
}

div.info {
    font-size: 0.7rem;
    display: flex;
    flex-flow: row;
}

div.info div.orders {
    width: 100%;
}

div.info div.edit {
    border-radius: 0.3rem;
    background-color: #eee;
    padding: 0 0.5rem;
    cursor: pointer;
    user-select: none;
    opacity: 0.5;
    align-self: flex-end;
}

div.info div.edit:hover {
    opacity: 1;
}

.items li {
    /*width: 12rem;*/
    /*height: 6rem;*/
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 0.2rem;

    display: flex;
    flex-flow: column;
    /*user-select: none;*/
}

li.item {
    border: 0.1rem solid #444;
    background-color: lightsteelblue;
}

li.placeholder {
    border: 0.1rem dashed darkslategray;
    background-color: lightyellow;
}

li.moved {
    border: 0.1rem dashed darkslategray;
}

/* */

div.items-container.size-1 li {
    flex: 0 1 calc(1 / 1 * 100% - 2 * 0.2rem);
}

div.items-container.size-2 li {
    flex: 0 1 calc(1 / 2 * 100% - 2 * 0.2rem);
}

div.items-container.size-3 li {
    flex: 0 1 calc(1 / 3 * 100% - 2 * 0.2rem);
}

div.items-container.size-4 li {
    flex: 0 1 calc(1 / 4 * 100% - 2 * 0.2rem);
}

div.items-container.size-5 li {
    flex: 0 1 calc(1 / 5 * 100% - 2 * 0.2rem);
}

div.items-container.size-6 li {
    flex: 0 1 calc(1 / 6 * 100% - 2 * 0.2rem);
}

div.items-container.size-7 li {
    flex: 0 1 calc(1 / 7 * 100% - 2 * 0.2rem);
}

/* grid */

div.grid {
    display: flex;
    flex-direction: column;
}

div.grid > div {
    display: flex;
    flex-direction: row;
}

div.grid > div.size-1 > div {
    flex: 0 1 calc(1 / 1 * 100%);
}

div.grid > div.size-2 > div {
    flex: 0 1 calc(1 / 2 * 100%);
}

div.grid > div.size-3 > div {
    flex: 0 1 calc(1 / 3 * 100%);
}

div.grid > div.size-4 > div {
    flex: 0 1 calc(1 / 4 * 100%);
}

/* columns */

div.container.columns {
    display: flex;
    flex-direction: row;
}

div.container.columns > div.items-container {
    width: 100%;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
}

div.container.columns > div.items-container > div.wrapper {
    height: 100%;
}

div.container.columns > div.items-container > div.wrapper > ul {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
}

div.container.columns > div.items-container > div.wrapper > ul > li {
    height: 4rem;
}

/* rows */

div.container.rows {
    display: flex;
    flex-direction: column;
}

div.container.rows > div.items-container {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
}

div.container.rows > div.items-container > div.wrapper {
    width: 100%;
}

div.container.rows > div.items-container > div.wrapper > ul {
    min-height: 4rem;
    display: flex;
    flex-wrap: wrap;
}

div.container.rows > div.items-container > div.wrapper > ul > li {
    height: 5rem;
}

/*  */

div.ui-tabs > ul.ui-tabs-nav {
    margin: 0;
    padding: 0.2rem;
    list-style-type: none;

    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    display: flex;
}

ul.ui-tabs-nav > li.ui-tabs-tab {
    border: 0.1rem solid #888;
    border-radius: 0.3rem;
    margin: 0;
    padding: 0.2rem;
    background-color: #f8f8f8;
    flex: 1 0 0;
    text-align: center;
}

ul.ui-tabs-nav > li.ui-tabs-tab > a {
    text-decoration: none;
    color: #111;
    font-weight: bold;
    width: 100%;
    display: inline-block;
}

/* configuration */

div#configuration, div#items {
    display: none;
}

div#configuration > ul {
    list-style-type: none;
    padding: 0.2rem;
    margin: 0;
    display: flex;
}

div#configuration > ul > li {
    padding: 0.2rem;
    border: 0.1rem solid #888;
    border-radius: 0.3rem;
    color: #111;
    background-color: #f8f8f8;
    text-align: center;
    font-weight: bold;
    flex: 1 0 0;
    cursor: pointer;
}

div#configuration > div.json {
    margin: 0.2rem;
    padding: 0.4rem;
    border: 0.1rem solid #888;
    border-radius: 0.3rem;
    color: #111;
    background-color: #f8f8f8;
    white-space: pre;
}

/* - */

div#setup {
    position: absolute;
    top: 0.1rem;
    right: 0.2rem;
    margin: 0;
    padding: 0.15rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

div#setup.mirror {
    transform: scaleX(-1);
}

div#configuration li > a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #111;
}