@page {
    size: A4;
    margin: 10mm;
}

@media print {
}

html, body {
    font-size: 13px;
    margin: 0.2rem;
    font-family: monospace;
    white-space: nowrap;
}

.ma {
    margin: auto;
}

.w2 {
    width: 50%;
}

.w3 {
    width: 33%;
}

.w4 {
    width: 25%;
}

#algorithms td.space {
    background-color: lightsteelblue;
    padding: 0.1rem;
}

#algorithms .id {
    color: cornflowerblue;
    margin-right: 1rem;
}

#algorithms .name {
    color: lightskyblue;
}

#algorithms .sequence {
    font-size: 1.4rem;
}

#algorithms .cube {
    margin-bottom: 0.4rem;
}

#algorithms td {
    padding: 0.4rem;
    vertical-align: bottom;
}

