@page {
    size: A4;
    margin: 10mm;
}

@media print {
    tr {
        page-break-inside: avoid;
    }
}

html, body {
    font-size: 13px;
    margin: 0.2rem;
    font-family: monospace;
    white-space: nowrap;
}

.busy {
    padding: 60px;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.p1 {
    padding: 1rem;
}

.ma {
    margin: auto;
}

.w2 {
    width: 50%;
}

.w3 {
    width: 33%;
}

.w4 {
    width: 25%;
}

#algorithms td.space {
    background-color: lightsteelblue;
    padding: 0.1rem;
}

#algorithms .id {
    color: cornflowerblue;
    margin-right: 1rem;
}

#algorithms .name {
    color: lightskyblue;
}

#algorithms .sequence {
    font-size: 1.4rem;
}

#algorithms .cube {
    margin-bottom: 0.4rem;
}

#algorithms td {
    padding: 0.4rem;
    vertical-align: bottom;
}

